/node_modules/
/yarn.lock
/.idea/
.env
.terraform/
.terraform.*
**/terraform.tfstate
**/terraform.tfstate.backup
/snyk/javascripts/node_modules/
/snyk/python/path/
/snyk/javascripts/package-lock.json
